@import '../../../variables.scss'

.nav
  width: 80px
  margin: 5px 0  0 5px

  a
    color: $dark-color
    display: block
    text-align: left
    text-decoration: none
    margin: 5px
    font-size: 14px

    &:hover
      text-decoration: underline
