@import '../../../variables.scss'

.incident-search
  position: absolute
  top: 165px
  display: flex
  flex-direction: row
  left: -100%
  transition: left 300ms ease-in-out
  overflow: hidden
  width: 100%
  background: rgba(255,255,255,0.95)
  z-index: 100
  flex-wrap: wrap
  border-bottom: 1px solid #ccc

  @media screen and (min-width: 650px)
    position: relative
    top: 0
    left: 0
    width: 350px
    background: none
    flex-wrap: nowrap
    border-bottom: none

.incident-search-open
  left: 0
  transition: left 300ms ease-in-out

.incident-column-one
  display: flex
  flex-direction: column
  justify-content: flex-end
  margin: 0 3% 0 0
  width: 47%
  padding: 15px 0
  @media screen and (min-width: 650px)
    width: auto
    margin: 0
    padding: 0

  p
    color: $dark-color
    font-size: 12px
    font-style: italic
    text-align: right
    margin: 0
    padding: 0 15px 5px
    border-right: 1px solid $dark-color

  label
    text-align: right
    padding: 0 15px 5px
    border-right: 1px solid $dark-color

    span
      color: $dark-color
      font-size: 12px
      letter-spacing: 0.05em

  input
    margin-top: 5px

  input::placeholder
    font-size: 10px
    color: #bbbbbb
    padding-left: 5px

.incident-column-two
  display: flex
  flex-direction: column
  justify-content: flex-end
  margin: 0
  width: 50%
  padding: 15px 0 20px
  @media screen and (min-width: 650px)
    width: auto
    margin: 0 0 0 10px
    padding: 0

  p
    color: $dark-color
    font-size: 12px
    font-style: italic
    text-align: left
    margin: 0
    padding: 5px 0 0

  label
    color: $dark-color
    font-size: 12px
    letter-spacing: 0.05em
    margin:  0
    padding: 6.5px 0 0

    input
      width: 14px
      height: 14px
      margin: 0 3px 0 0
      border: 1px solid $dark-color

  select
    width: 150px
    font-size: 12px
    font-family: $font-base
    color: $dark-color
    height: 20px
    margin-top: 5px
